* {
    margin: 0px;
    scroll-behavior:smooth;
}

.container {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(245, 243, 243);
    margin: 0px;
    /* height: 100%; */
}

.row {
    background-color: rgb(198, 220, 235);
    display: flex;
    justify-content: space-between;
    position:sticky;
    top: 0px;
}

.box {
    background-color: white; 
    padding: 10px;
}

.row1 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(84, 53, 196);
}

.row2 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    /* height: 800px; */
    height: 100%;
    align-items: center;
    background-color: rgb(209, 210, 237);

}

.row3 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 100%; 
    align-items: center; 
    background-color: bisque;           
}

.row4 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
    align-items: center; 
    background-color: rgb(200, 216, 233);           
}

.row5 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
    align-items: center; 

}
.row6 {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;

}
.box1{
    padding: 10px;
    background-color: white;
    color: black;
    margin: 10px;
    border-radius: 20px;
}

.li{
    display: inline;
    padding: 5px;
    font-size: large;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: rgb(163, 232, 240);
    font-size: larger;
}
.imgclass{
    border-radius: 10px;
}